# Esercizio 1

## Import necessari e caricamento del dataset

In [7]:
from nltk.corpus import wordnet as wn
import pandas as pd

In [9]:
# Read the file
df = pd.read_csv('dataset\combined.csv')
df

           Word 1    Word 2  Human (mean)
0            love       sex          6.77
1           tiger       cat          7.35
2           tiger     tiger         10.00
3            book     paper          7.46
4        computer  keyboard          7.62
..            ...       ...           ...
348        shower     flood          6.03
349       weather  forecast          8.34
350      disaster      area          6.25
351      governor    office          6.34
352  architecture   century          3.78

[353 rows x 3 columns]

## Wu & Palmer

In [82]:
# Defining the function to get the max depth of the synset

def max_depth_2(synset):
    return max(len(path) for path in synset.hypernym_paths())

In [116]:
# Defining the function to get the least common subsumer of two synsets

def LCS(syn1,syn2):
    path1 = syn1.hypernym_paths()
    path2 = syn2.hypernym_paths()
    result = []

    #se abbiamo piu path per il primo synset
    if(len(path1) > 1):
        # scorriamo un path alla volta 
        for pat1 in path1:
            x = pat1
            x.reverse()
            for syn in x:
                #se il secondo synset ha piu path devo scorrerli
                for pat2 in path2:
                    if(syn in pat2):
                        result.append(syn)
                        break     
    else:#lunghezza di 1
        pat1 = path1[0]
        pat1.reverse()
        for syn in pat1:
            for pat2 in path2:
                if(syn in pat2):
                    result.append(syn) 
                    break
    
    max_depth = max(max_depth_2(s) for s in result)
    max_hypernym = max(s for s in result if max_depth_2(s) == max_depth)
    return max_hypernym

In [118]:
print(LCS(wn.synset('cat.n.01'),wn.synset('dog.n.01')))

Synset('carnivore.n.01')

In [95]:
synw1 = wn.synsets('car')
max_depth = max(max_depth_2(s) for s in synw1)
unsorted_lch = [s for s in synw1 if max_depth_2(s) == max_depth]
print(unsorted_lch)
for syn in unsorted_lch:
    print(max_depth_2(syn))

print(wn.synset('policeman.n.01').lowest_common_hypernyms(wn.synset('chef.n.01')))

[Synset('car.n.01')]
12
[Synset('person.n.01')]

In [37]:
def wu_palmer(word1,word2):
    #prendiamo tutti i singificati delle parole
    synw1 = wn.synsets(word1)
    synw2 = wn.synsets(word2)
    result = []

    for syn1 in synw1:
        #Profondita di syn1
        depht1 = max_depth(syn1)
        for syn2 in synw2:
            #Profondita di syn2
            depht2 = max_depth(syn2)# ritrovare l'antenato comune e calcolarne la profondita
            
#si fa la formula di dii wu_palmer
           #si salva il risultato in una lista
    #prendimao il valore max di similarita

In [80]:
print(wn.synset('dog.n.01').hypernyms())
for a in wn.synset('dog.n.01').hypernym_paths():
    print(a)

[Synset('canine.n.02'), Synset('domestic_animal.n.01')]
[Synset('entity.n.01'), Synset('physical_entity.n.01'), Synset('object.n.01'), Synset('whole.n.02'), Synset('living_thing.n.01'), Synset('organism.n.01'), Synset('animal.n.01'), Synset('chordate.n.01'), Synset('vertebrate.n.01'), Synset('mammal.n.01'), Synset('placental.n.01'), Synset('carnivore.n.01'), Synset('canine.n.02'), Synset('dog.n.01')]
[Synset('entity.n.01'), Synset('physical_entity.n.01'), Synset('object.n.01'), Synset('whole.n.02'), Synset('living_thing.n.01'), Synset('organism.n.01'), Synset('animal.n.01'), Synset('domestic_animal.n.01'), Synset('dog.n.01')]
14